<mat-card>
    <mat-card-title>
        <span>Create Employee</span>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="employeeForm" novalidate>
            <div class="card-container">
                <hr>
                <div style="width: 80%;">
                    <div style="text-align: center;"><label style="font-weight: bold;"><h4>Personal Information</h4></label></div>
                </div>
                <div style="width: 100%; display: flex;">
                    <div style="width: 33%;">
                        <div class="form-group">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="First Name" formControlName="firstname" [(ngModel)]="employee.first_name" value="">
                            </mat-form-field>
                        </div>
                        <div *ngIf="employeeForm.controls['firstname'].invalid && (employeeForm.controls['firstname'].dirty || employeeForm.controls['firstname'].touched)" class="alert alert-danger">
                            <div *ngIf="employeeForm.controls['firstname'].errors.required">
                            First Name is required.
                            </div>
                        </div>
                    </div>
                    <div style="width: 33%;">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Middle Name" formControlName="middlename" [(ngModel)]="employee.middle_name" value="">
                        </mat-form-field>
                    </div>
                    <div style="width: 33%;">
                        <div class="form-group">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Last Name" formControlName="lastname" [(ngModel)]="employee.last_name" value="">
                            </mat-form-field>
                        </div>
                        <div *ngIf="employeeForm.controls['lastname'].invalid && (employeeForm.controls['lastname'].dirty || employeeForm.controls['lastname'].touched)" class="alert alert-danger">
                            <div *ngIf="employeeForm.controls['lastname'].errors.required">
                            Last Name is required.
                            </div>
                        </div>
                    </div>    
                </div>
                <div>
                    <label id="example-radio-group-label">Gender&nbsp;&nbsp;</label>
                    <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    [(ngModel)]="employee.gender"
                    formControlName="gender">
                    <mat-radio-button class="example-radio-button" *ngFor="let gender of gender" [value]="gender">
                        {{gender}} &nbsp;&nbsp;&nbsp;&nbsp;
                    </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div style="width: 80%;">
                    <div style="text-align: center;"><label style="font-weight: bold;"><h4>Contact Information</h4></label></div>
                </div>
                <div style="width: 100%; display: flex;">
                    <div style="width: 33%;">
                        <div class="form-group">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Email" formControlName="email" [(ngModel)]="employee.email" [email]="true">
                            </mat-form-field>
                        </div>
                        <div *ngIf="employeeForm.controls['email'].invalid && (employeeForm.controls['email'].dirty || employeeForm.controls['email'].touched)" class="alert alert-danger">
                            <div *ngIf="employeeForm.controls['email'].errors.required">
                            Email is required.
                            </div>
                            <div *ngIf="employeeForm.controls['email'].errors.pattern">
                                Provide valid Email address.
                            </div>
                        </div>
                    </div>
                    <div style="width: 33%;">
                        <div class="form-group">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Phone" formControlName="phone" [(ngModel)]="employee.phone" (keydown.Tab)="getEmployeeOrgIdByFLName()" (click)="getEmployeeOrgIdByFLName()" value="">
                            </mat-form-field>
                        </div>
                        <div *ngIf="employeeForm.controls['phone'].invalid && (employeeForm.controls['phone'].dirty || employeeForm.controls['phone'].touched)" class="alert alert-danger">
                            <div *ngIf="employeeForm.controls['phone'].errors.required">
                                Phone number is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 80%;">
                    <div style="text-align: center;"><label style="font-weight: bold;"><h4>Emergency Contact Information</h4></label></div>
                </div>
                <div style="width: 100%; display: flex;">
                    <div style="width: 33%;">
                        <div class="form-group">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Email" formControlName="emergencyemail" [(ngModel)]="employee.emergency_contact" value="">
                            </mat-form-field>
                        </div>
                        <div *ngIf="employeeForm.controls['emergencyemail'].invalid && (employeeForm.controls['emergencyemail'].dirty || employeeForm.controls['emergencyemail'].touched)" class="alert alert-danger">
                            <div *ngIf="employeeForm.controls['emergencyemail'].errors.pattern">
                                Provide valid Email address.
                            </div>
                        </div>
                    </div>
                    <div style="width: 33%;">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Phone" formControlName="emergencyphone" [(ngModel)]="employee.emergency_contact_phone" value="">
                        </mat-form-field>
                    </div>
                </div>
                <div style="width: 80%;">
                    <div style="text-align: center;"><label style="font-weight: bold;"><h4>Official Information</h4></label></div>
                </div>
                <div style="width: 100%; display: flex;">
                    <div style="width: 25%;">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Employee Id" formControlName="employeeorgid" [(ngModel)]="employee_org_id" readonly="true">
                        </mat-form-field>
                    </div>
                    <div style="width: 25%;">     
                        <mat-form-field appearance="fill">
                            <mat-label>Role</mat-label>
                            <mat-select [(ngModel)]="employee.role_id" formControlName="role">
                                <mat-option>Select Role</mat-option>
                                <mat-option *ngFor="let dept of roleList" [value]="dept.roleId">
                                    {{dept.roleName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>                          
                    </div>
                    <div style="width: 25%;"><br>
                        <mat-checkbox class = "example-margin" formControlName="isactive" [(ngModel)]="employee.is_active"> 
                            <label>Is Active</label> 
                        </mat-checkbox>
                    </div>
                    <div style="width: 25%;"><br>
                        <mat-checkbox class = "example-margin" formControlName="oncontract" [(ngModel)]="employee.on_contract"> 
                            <label>On Contract</label> 
                        </mat-checkbox>
                    </div>
                </div>
                <div style="width: 100%; display: flex;">
                    <div style="width: 33%;">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Department</mat-label>
                                <mat-select [(ngModel)]="employee.dept_code_key" formControlName="dept">
                                  <mat-option>Select Department</mat-option>
                                  <mat-option *ngFor="let dept of departmentList" [value]="dept.deptId">
                                    {{dept.deptName}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field> 
                        </div>
                        <div *ngIf="hasDropDownError" class="alert alert-danger">
                            Select Department
                        </div>
                    </div>          
                     <div style="width: 33%;">
                        <div>
                            <mat-form-field>
                              <input matInput placeholder="Reports To" aria-label="reportsto" formControlName="searchReportsToCtrl" [matAutocomplete]="auto" [(ngModel)]="employee.reports_to" [formControl]="searchReportsToCtrl">
                              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                  <mat-option *ngFor="let reportsTo of filteredreportsTo" [value]="reportsTo.name">
                                    <span>{{reportsTo.name}}</span>
                                  </mat-option>
                                </ng-container>
                              </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div style="width: 100%; display: flex; direction: rtl;">                    
                    <button mat-raised-button color="primary" (click)="resetemployee()">Cancel</button>&nbsp;&nbsp;
                    <button mat-raised-button color="primary" (click)="postemployee(employee)" [disabled]="employeeForm.pristine || employeeForm.invalid">Save</button>
                </div>
            </div>
        </form>
        </mat-card-content>
</mat-card>