<mat-card>
    <mat-card-title>
        <span>Create Department</span>
    </mat-card-title>
    <mat-card-content>
            <div class="card-container">
                <hr>
                <div style="width: 100%; display: flex;">
                    <div style="width: 50%;">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Department Name" required name="orgdeptName" [(ngModel)]="department.orgdeptName" value="">
                        </mat-form-field>
                    </div>
                    <div style="width: 50%;">
                        <mat-form-field appearance="fill">
                            <mat-label>Department Type</mat-label>
                            <mat-select [(ngModel)]="department.dept_code_key" name="dept">
                              <mat-option>Select Department</mat-option>
                              <mat-option *ngFor="let dept of departmentList" [value]="dept.deptId">
                                {{dept.deptName}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
                <div style="width: 100%; display: flex;">
                    <div style="width: 50%;">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Head Of Department" name="hod" [(ngModel)]="department.hod" value="">
                        </mat-form-field>
                        <!-- <mat-form-field class="example-full-width">
                            <input type="text" placeholder="Head Of Department" aria-label="hod" matInput name="hod" [formControl]="autoCompleteControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectedOption($event)">
                              <mat-option *ngFor="let option of filteredOptions | async" [value]="option" >
                                {{option.name}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field> -->
                    </div>
                    <div style="width: 50%;">
                        <mat-checkbox class = "example-margin" name="isAvailable" [(ngModel)]="department.isAvailable"> 
                            <label>Is HoD Available</label> 
                        </mat-checkbox>
                    </div>
                </div>
                <div style="width: 100%; display: flex;">
                    <div style="width: 50%;">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Second line of Approver" name="secondlineApprover" [(ngModel)]="department.secondlineApprover" value="">
                        </mat-form-field>
                    </div>
                </div>
                <div style="width: 100%; display: flex; direction: rtl;">
                    <button mat-raised-button color="primary" (click)="postdepartment(department)">Save</button>&nbsp;&nbsp;
                    <button mat-raised-button color="primary" (click)="resetdepartment(department)">Cancel</button> 
                </div>
            </div>
    </mat-card-content>
</mat-card>