/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #E4F0FF;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 12px;
    grid-template-areas:
    "header header header"
    "nav content content"
    "footer footer footer";
    height: 100vh;
  }

app-header {
    color: white;
    font-size: 14px;
    grid-area: header;
    text-align: center;
    background-color:rosybrown;
    }
  
  app-nav {
    grid-area: nav;
    margin-left: 0.6rem;
    background-color:lightgrey;
  }
  
  app-privacy-policy,
  app-main {
    grid-area: content;
    width: 90%;
    background-color: #E4F0FF;
    padding: 25px;
  }
  
  /* app-aside {
    grid-area: side;
    margin-right: 0.6rem;
    background-color: #2A92BF;
  }
   */
  app-footer {
    grid-area: footer;
    background-color:gray;
    color: white;
    text-align: center;
    padding: 25px 0;
  }

  ul li {
    color: white;
  }
  ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
  }